@font-face {
    font-family: "Material Symbols";
    font-style: normal;
    src:url({file=https://github.com/google/material-design-icons/raw/master/variablefont/MaterialSymbolsOutlined%5BFILL%2CGRAD%2Copsz%2Cwght%5D.woff2;/styles/fonts/symbols.woff2}) format("woff2");
}