@import url("https://fonts.googleapis.com/css?family=Kaisei HarunoUmi");
@import url("https://fonts.googleapis.com/css?family=Noto Serif");

html {
    --backgroundcolor: #038d7b;

    --font: "Kaisei HarunoUmi";
    --textcolor: #ffffff;
    --alternatetextcolor: #000000;

    --headerfont: "Noto Serif";
    --headercolor: #ffbb00;
}

html.darkmode {
    --backgroundcolor: #444444;
}

html,
head,
body
{
    background: var(--backgroundcolor);

    margin: 0px;
    padding: 0px;

    font-family: var(--font), Arial, sans-serif;
    color: var(--textcolor);

    text-align: center;
}

body {
    margin: 1%;
}

h1 {
    font-family: var(--headerfont), Arial, sans-serif;
    color: var(--headercolor);

    font-size: 60px;
}

.hidden {
    display: none;
}