/* Imports */
@import url("/fonts/kaisei-harunoumi.css");
@import url("/fonts/noto-serif.css");



/* Variables */
html {
    --backgroundcolor: #038d7b;
    --forgroundcolor: #0b6e61;
    --altforgroundcolor: #07473f;

    --font: "Kaisei HarunoUmi";
    --textcolor: #ffffff;
    --alternatetextcolor: #000000;

    --headerfont: "Noto Serif";
    --headercolor: #ffbb00;

    --linkcolor: #0000ff;
    --linkhovercolor: #000064;

    --fade-length: 0.25s;
}

html.darkmode {
    --backgroundcolor: #444444;
    --forgroundcolor: #333333;
    --altforgroundcolor: #242424;

    --textcolor: #cecece;
    --alternatetextcolor: #000000;

    --headercolor: #d49c00;

    --linkcolor: #0000be;
    --linkhovercolor: #000064;
}



/* Layout */
html,
head,
body {
    background: var(--backgroundcolor);

    margin: 0px;
    padding: 0px;

    font-family: var(--font), Arial, sans-serif;
    color: var(--textcolor);

    text-align: center;
}

html.fade-in>head,
html.fade-in>body {
    opacity: 0;

    animation-name: fade-in;
    animation-duration: var(--fade-length);
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

main {
    margin: 1%;
}

.section {
    margin-top: 30vh;
    margin-bottom: 40vh;
}

.hidden {
    display: none;
}



/* Navigation bar */
nav {
    background: var(--forgroundcolor);

    width: 100%;
    height: 60px;
}

nav div {
    width: 100px;
    height: 100%;

    float: left;
}

nav div a,
nav div a:link,
nav div a:visited,
nav div a:hover,
nav div a:active {
    display: block;
    text-decoration: none;

    color: var(--textcolor);

    padding-top: 16px;

    width: 100%;
    height: 75%;
}

nav div:hover {
    background: var(--altforgroundcolor);
}



/* Text */
h1 {
    font-family: var(--headerfont), Arial, sans-serif;
    color: var(--headercolor);

    font-size: 60px;
}

p {
    color: var(--textcolor);
}

a,
a:visited,
a:active {
    color: var(--linkcolor);
}

a:hover {
    color: var(--linkhovercolor);
}



/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}