/* Imports */
@import url("/fonts/kaisei-harunoumi.css");
@import url("/fonts/noto-serif.css");



/* Variables */
html {
    --backgroundcolor: #038d7b;
    --forgroundcolor: #0b6e61;

    --font: "Kaisei HarunoUmi";
    --textcolor: #ffffff;
    --alternatetextcolor: #000000;

    --headerfont: "Noto Serif";
    --headercolor: #ffbb00;

    --linkcolor: #0000ff;
    --linkhovercolor: #000064;
}

html.darkmode {
    --backgroundcolor: #444444;
    --forgroundcolor: #333333;

    --textcolor: #dfdfdf;
    --alternatetextcolor: #000000;

    --headercolor: #ffbb00;
}



/* Layout */
html,
head,
body {
    background: var(--backgroundcolor);

    margin: 0px;
    padding: 0px;

    font-family: var(--font), Arial, sans-serif;
    color: var(--textcolor);

    text-align: center;
}

main {
    margin: 1%;
}

.section {
    margin-top: 30vh;
    margin-bottom: 40vh;
}

.hidden {
    display: none;
}



/* Navigation bar */
nav {
    background: var(--forgroundcolor);

    width: 100%;
    height: 60px;
}

nav div {
    width: 8%;
    height: 100%;

    float: left;
}

nav div a,
nav div a:link,
nav div a:visited,
nav div a:hover,
nav div a:active {
    display: block;

    color: var(--textcolor);

    padding-top: 15%;

    width: 100%;
    height: 100%;
}



/* Text */
h1 {
    font-family: var(--headerfont), Arial, sans-serif;
    color: var(--headercolor);

    font-size: 60px;
}

p {
    color: var(--textcolor);
}

a,
a:visited,
a:active {
    color: var(--linkcolor);
}

a:hover {
    color: var(--linkhovercolor);
}